{% extends "bookshop/base.html" %}
{% block content %}
    <h1>{{ object.first_name}} {{ object.last_name }}</h1>
    {% if object.personal_page %}
    Personal page: <a href="{{ object.personal_page }}">{{ object.personal_page }}</a>
    {% endif %}
    <br/>
    Books:
    <ul>
        {% for book in object.books.all %}
        <li><a href="{% url 'bookshop:book-detail' book.pk %}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}