<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <a href="{% url 'bookshop:book-list' %}"><h1>Back to main page</h1></a>
        <button><a href="{% url 'bookshop:create-author' %}">Add new author</a></button>
        <button><a href="{% url 'bookshop:shitty-create-author' %}">Insecurely add new author</a></button>
        <button><a href="{% url 'bookshop:create-book' %}">Add new book</a></button>
        {% block content %}
        {% endblock content %}
    </body>
</html>
