{% extends "bookshop/base.html" %}
{% block content %}
<br />
    Title: {{ object.title }} <br/>
    Pages: {{ object.pages }} <br/>
    Author: <a href="{% url 'bookshop:author-detail' object.author.pk %}">{{ object.author }}</a>
{% endblock content %}