{% extends "bookshop/base.html" %}
{% block content %}
<h1>Books</h1>
<ul>
{% for book in object_list %}
    <li><a href="{% url 'bookshop:book-detail' book.id %}">{{ book.title }}</a> - <a href="{% url 'bookshop:author-detail' book.author.pk %}">{{ book.author.first_name }} {{ book.author.last_name }}</a></li>
{% empty %}
    <li>No books yet.</li>
{% endfor %}
</ul>
{% endblock content %}
